body {
  margin: 0;
  background-color: #1b916e;
  background-image: url(../img/bg.svg);
  background-size: 1200px auto;
  background-position: center top 40%;
  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover,
a:focus {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}



.page__header {
  padding-top: 2em;
  padding-bottom: 2em;
  min-height: 430px;
  background: url("../img/page-header-bg-sm.jpg");
  background-size: cover;
  background-position: 0 50%;
}

.page__header-logo {
  padding: 0 40px;
  text-align: center;
}

.page__content {
  margin-top: -110px;
}

.page__content-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}

.page__footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

.header {
  margin-top: 0;
  margin-bottom: 0.6em;
  font-family: 'Neucha', cursive;
  font-size: 24px;
  line-height: 1.1;
}

.subheader {
  margin-bottom: 0.5em;
  font-size: 1.3em;
}

.info__img-wrap {
  position: relative;
  display: inline-block;
  max-width: 200px;
  padding-bottom: 20px;
  text-align: center;
}

.info__img-wrap:after {
  content: '';
  position: absolute;
  z-index: -1;
  bottom: 60px;
  height: 5px;
  left: 0;
  right: 0;
  background: transparent;
  box-shadow: 0 40px 20px #000;
}

.info__text-wrap {
  padding-left: 16px;
}

.store-btns__item {
  text-decoration: none;
}

.page__footer {
  position: relative;
  text-align: center;
}

.conf-link {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.7em;
}

.store-btns {
  margin-bottom: 2em;
}



@media (min-width: 576px) {

  .info__img-wrap {
    max-width: 260px;
  }

}

@media (min-width: 768px) {}

@media (min-width: 992px) {

  .page__header {
    min-height: 40vw;
  }

  .page__content {
    margin-top: -140px;
  }

  .header {
    font-size: 36px;
  }

}
